.banner__bg {
  position: relative;
}

.banner {
  align-items: center;
  color: var(--cor-branca);
  display: flex;
  flex-direction: column;
  left: 50%;
  max-width: 1200px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.banner__img {
  background: url(../../assest/img/banner.png) no-repeat center / cover;
  filter: blur(1px);
  height: calc(50vh - 51px);
}

.banner__title {
  font-size: 3.50rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding-bottom: .5rem;
  margin: 0;
}

.banner__subtitle {
  font-size: 1.375rem;
  font-weight: bold;
  padding-bottom: 1rem;
  text-align: left;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.banner__btn {
  background-color: var(--cor-azul);
  color: var(--cor-branca);
  transition: all 0.3s;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  width: 100%;
}

.banner__btn:hover {
  background-color: var(--cor-branca);
  color: var(--cor-azul);
}

@media screen and (max-width: 768px) {
  .banner {
    top: 50%;
  }

  .banner__img {
    height: calc(45vh - 51px);
  }

  .banner__title {
    font-size: 2rem;
  }
  .banner__subtitle {
    font-size: 1rem;
  }
}

@media screen and (max-width: 320px) {
  .banner {
    top: 50%;
  }

  .banner__img {
    height: calc(70vh - 60px);
  }

  .banner__title {
    font-size: 1.5rem;
  }
  .banner__subtitle {
    font-size: .9rem;
  }
}