.menu {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 0;
}

.menu__nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 5%;
  width: 80%;
}

#burguer {
  display: none;
}

.menu__search {
  position: relative;
}

.menu__search input[type="text"] {
  padding-right: 30px;
  border-radius: 1rem;
}

.menu__search::after {
  background-image: url("../img/search_light.svg");
  background-size: cover;
  content: "";
  cursor: pointer;
  height: 25px;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  width: 1.5625rem;
}

/*Tablet*/
@media (max-width: 768px) {
  .menu {
    max-width: 700px;
    margin: 0 auto;
    gap: 3%;
  }
  .menu__img {
    width: 11rem;
  }
}

/*Mobile*/
@media (max-width: 480px) {
  .menu {
    max-width: 450px;
    margin: 0 auto;
    flex-direction: column;
  }
  .menu__img {
    width: 11rem;
  }
  .menu__nav{
    display: none;
    flex-direction: column;
  }
  .menu__search{
    padding: 15px;
  }
  #burguer {
  display: flex;
}

.menu__nav__login {
  display: flex;
}
}
