.produtos {
  color: var(--cor-cinza-escuro);
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 0;
}

.produto {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 10px 0;
  text-align: center;
}

.produtos__title {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.produto__card {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding-bottom: 4rem;
}

.produto__img {
  height: auto;
  margin-bottom: 0.5rem;
  width: 180px;
}

.produtos a {
  color: var(--cor-azul);
  font-weight: bold;
  padding: 10px 0;
}

.produtos h2 {
  font-size: 1rem;
  padding: 10px 0;
}

.btn__adicionar__produto {
  padding: 1rem;
  width: 100%;
  background: var(--cor-azul) ;
  color: var(--cor-branca);
  transition: all 0.3s;
}

.btn__adicionar__produto:hover{
  background: var(--cor-branca);
  color: var(--cor-azul);
}

@media (max-width: 768px) {
  .produtos {
    max-width: 700px;
  }

  .btn__adicionar__produto {
  padding: 1rem;
  width: 100%;
}
}

/*Mobile*/
@media (max-width: 480px) {
  .produtos {
    max-width: 400px;
  }
}
