footer {
  background-color: #eaf2fd;
}
.rodape {
  align-items: flex-start;
  color: var(--cor-cinza-escuro);
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  padding: 60px 0;
}

.rodape__contato {
  align-items: flex-start;
  display: flex;
}

.rodape__imagem {
  height: auto;
  padding-right: 5rem;
}

.rodape__links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}

.rodape__link {
  color: var(--cor-cinza-escuro);
  font-size: 1rem;
  padding-bottom: 1rem;
  padding-right: 5rem;
  text-decoration: none;
}

.rodape__link:hover {
  text-decoration: underline;
}

.rodape__titles {
  flex-grow: 1;
  margin-left: 2rem;
}

.rodape__title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.rodape__input {
  border: none;
  width: 100%;
  margin-bottom: 1rem;
  outline: none;
  padding: 1.5rem;
}

.rodape__input:hover {
  border-bottom: 2px solid var(--cor-azul);
}
.rodape__text {
  border: none;
  width: 100%;
  margin-bottom: 1rem;
  resize: none;
  outline: none;
  padding: 0.5rem;
}

.rodape__text:hover {
  border-bottom: 2px solid var(--cor-azul);
}

.rodape__btn {
  border: none;
  background-color: var(--cor-azul);
  color: var(--cor-branca);
  cursor: pointer;
  width: 50%;
}

.rodape__btn:hover {
  border: 1px solid var(--cor-azul);
  background-color: var(--cor-branca);
  color: var(--cor-azul);
}

.rodape__btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
  outline: none;
}

.rodape__copy {
  background-color: var(--cor-branca);
  text-align: center;
  padding: 1.5rem;
}

/*Tablet*/
@media screen and (max-width: 768px) {
  .rodape{
    flex-direction: column;
    align-items: flex-start;
    margin: 0 10px;
  }
  
  .rodape__contato {
    flex-direction: column;
  }

  .rodape__imagem {
    padding-bottom: 10px;
  }
  .rodape__titles {
    margin: 0;
  }
}

@media screen and (max-width: 480px){
  .rodape__btn{
    width: 100%;
  }
}
